{{> head}}
	
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Titulo Default para {{capitalizar 'gerson aponte rodriguez'}}</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, suscipit. Sit molestias consequatur enim quae officia molestiae. Odio consequuntur totam dolor commodi, nulla magnam reiciendis adipisci fugit, ex nisi eveniet.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/capitan-america.png" alt="daad" class="img-thumbnail">
    </div>
</div>

{{> footer}}